body{
    background-color: black;
    color: goldenrod;
    margin-top: 0px;
    font-size: 20px;
    line-height: 30px;
}
header{
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom: 30px double goldenrod;
    border-top: 30px double goldenrod;
    margin-top: 0px;
}
h1, h2{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
header h1{
    font-size: 50px;
    line-height: 50px;
}
header img{
    border-radius: 600px;
    width: 400px;
    padding: 0;
    border: 10px solid goldenrod;
    border-radius: 20px;
    margin-top: 50px;
}
p{
   text-indent: 20px; 
   padding: 20px;
}
main{
    background-color: black;
    color: goldenrod;
    max-width: 800px;
    margin: 50px auto 20px;
}
main img{
    max-width: 100%;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    /*color: green;*/
}
a{
    color: goldenrod;
}
a:hover{
    color: white;
    background-color: goldenrod;
}
footer{
    background-color: goldenrod;
    color: white;
}
footer p{
    margin: 0;
    margin-top: 15px;
    text-align: center;
}
.box{
    margin: -50px;
    background-color: goldenrod
}