body{
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}
header{
    background-color: green;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1, h2{
    font-family: 'Shadows Into Light', cursive;
}
header h1{
    color: white;
    font-size: 50px;
    line-height: 40px;
}
header img{
    border-radius: 600px;
    width: 400px;
    border: 10px solid white;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
main img{
    max-width: 100%;
}
h2{
    font-size: 30px;
    color: green;
}
a{
    color: green;
}
a:hover{
    color: white;
    background-color: green;
}
footer{
    background-color: green;
    color: white;
    padding: 30px;
}
footer p{
    margin: 0;
    text-align: center;
}